<div class="splash-image">
	<div class="header-space"></div>
	
	<div class="logo-box">
		<div class="text">
			<h1><%=image_tag "logo-home.png", :class => "logo"%></h1>
			<p>FREE ONLINE SAT PREP</p>
		</div>
	</div>

	<div class="footer-box"></div>
	

  <div class="signup-form">
    <div class="row collapse">
      <div class="small-10 columns">
        <input type="text" placeholder="Sign up now to start practicing">
      </div>
      <div class="small-2 columns">
        <a href="lessons#index" class="button round postfix">Go!</a>
      </div>
    </div>
	</div>

</div>

<div class="splash-video">
	<br>
	<div class="large-5 columns small-12">
		<div class="title">
			<h1>ABOUT</h1>
			<hr>
		</div>	
		<p>Prepify is FREE, online, and computer-adaptive SAT prep for any
		student - anywhere.</p>
		<p>Our curriculum is designed by top instructors with experience teaching - and beating - the test.</p>
		<p>In addition to providing an open platform for SAT prep, Prepify matches admissions counselors with top-flight test takers based on factors like the student's profile, interest, and past performance.</p>
		<p>Prepify was founded by students at The University of Texas at Austin and MakerSquare, including alumni of Teach for America.</p>
	</div>
	<div class="large-7 small-12 columns right">
		<iframe width="640" height="360" src="//www.youtube.com/embed/P9OLgw9LBZo?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>

<div class="profile-container">
	<div class="title">
		<h1>TOP PREPISTS</h1>
		<hr>
		<p>Check out these profiles of top-performing students on the Prepify platform.</p>
		<p>Want to make a difference?  Flip a Bitcoin to support these students'
		college funds!</p>
		<p>#PrepItForward</p>


	</div>
	
	<div class="profiles">
		<div class="large-4 columns">
			<div class="student-container"><%=image_tag "student1-square.jpg", :class => "student"%>
				<p class="name" style="margin-top:20px">THOMAS LEE</p>
				<p class="high-school">TURNER HIGH SCHOOL</p>
				<p class="city">WASHINGTON, DC</p>
				<br>
				<p class="quote">"I see myself attending Yale to study computer science."</p>
				<p><a href="#"><%= image_tag "bitcoin-button.png", :class => "bitcoin" %></a></p>
			</div>
		</div>

		<div class="large-4 columns">
			<div class="student-container"><%=image_tag "student2-square.jpg", :class => "student"%></div>
			<p class="name" style="margin-top:20px">LUCY GARCIA</p>
			<p class="high-school">SAN BENITO HIGH SCHOOL</p>
			<p class="city">HARLINGEN, TEXAS</p>
			<br>
			<p class="quote">"I've always wanted to go to Stanford."</p>
			<p><a href="#"><%= image_tag "bitcoin-button.png", :class => "bitcoin" %></a></p>
		</div>

		<div class="large-4 columns">
			<div class="student-container"><%=image_tag "student3-square.jpg", :class => "student"%></div>
			<p class="name" style="margin-top:20px">JESSICA WOODS</p>
			<p class="high-school">MADISON HIGH SCHOOL</p>
			<p class="city">BROOKLYN, NEW YORK</p>
			<br>
			<p class="quote">"I don't want to leave the city, so why not go to NYU?"</p>
			<p><a href="#"><%= image_tag "bitcoin-button.png", :class => "bitcoin" %></a></p>
		</div>

	</div>
</div>

<script type="text/javascript">
		// run script after document is ready
		$(function () {
	 
	   // install flowplayer to an element with CSS class "player"
	   $(".player").flowplayer();
	 
		});
</script>











