<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Prepify" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Prepify" %>">
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>


    <!-- 1. skin for flowplayer -->
    <link rel="stylesheet" href="//releases.flowplayer.org/5.4.6/skin/minimalist.css">
 
    <!-- 2. flowplayer -->
    <script src="//releases.flowplayer.org/5.4.6/flowplayer.min.js"></script>


  </head>
  <body>
    <div class="main-container">
      <header>
        <%= render 'layouts/navigation' %>
      </header>
      <main role="main">
         <%= render 'layouts/messages' %>
         <%= yield %>
      </main>
      <div id="push"></div>
    </div>
    <div class="footer-container">
       <%= render 'layouts/bottom_bar' %>
    </div>
  </body>
</html>
